@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  /* Primary Colors */
  --clr-orange: hsl(25, 97%, 53%);

  /* Neutral colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(217, 12%, 63%);
  --clr-medium-gray: hsl(216, 12%, 54%);
  --clr-light-dark-blue: hsl(213, 19%, 20%);
  --clr-dark-blue: hsl(213, 19%, 18%);
  --clr-very-dark-blue: hsl(216, 12%, 8%);

  /* Fonts */
  --font-primary: 'Overpass', sans-serif;

  font-size: 10px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--clr-very-dark-blue);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.btn {
  width: 100%;
  display: inline-flex;
  font-size: 1.75rem;
  font-weight: 700;
  padding-block: 1rem;
  gap: 1rem;
}

.btn--primary {
  border-radius: 3rem;
  background-color: var(--clr-orange);
  color: var(--clr-white);
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

.btn--primary:active {
  color: var(--clr-orange);
  background-color: var(--clr-white);
}
